<style>
  @media screen and (min-width: 769px) {
    .headerr-left{margin-left: 370px;}
  }
</style>

<div class="header-top">
  <div class="container">


    <div class="headerr-left" >
      <p class="nouser-text" style="margin-left: 91px;">Free delivery above ₹1500</p>
    </div>
    <!-- End .header-left -->

    <div class="header-right">
    
      <br>    <br>
    </div>
    <!-- End .header-right -->
  </div>
  <!-- End .container -->
</div>
<!-- End .header-top -->