<%-include('../layouts/header')%>

    <div class="page-wrapper">
      <header class="header">
        <div class="header-top">
          <div class="container">
          
            <div class="header-right">
              <ul class="top-menu">
                <li>
                  <a href="#">Links</a>
                  <ul>
                    <li>
                      <br>
                      <a href="tel:#"
                        ><i class="icon-phone"></i>Call: +919633586080</a
                      >
                    </li>
                    <li>
                      <br>
                      <a href="/login"><i class="icon-user"></i>Login</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="header-middle sticky-header">
          <div class="container">
            <div class="header-left">
              <button class="mobile-menu-toggler">
                <span class="sr-only">Toggle mobile menu</span>
                <i class="icon-bars"></i>
              </button>

              <a href="/" class="logo" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;font-size: 30px;color: black;">Spy.steps

              </a>

              <nav class="main-nav">
                <ul class="menu sf-arrows">
                  <li class="megamenu-container">
                    <a href="/">Home</a>
                  </li>
                  <li>
                    <a href="/about">About Us</a>
                  </li>
                  <li>
                    <a href="/contact">Contact Us</a>
                  </li>
                </ul>
              </nav>
            </div>

            <div class="header-right">
             
            </div>
          </div>
        </div>
      </header>

      <main class="main">
        <div
          class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17"
          style="
            background-image: url('assets/images/demos/demo-9/slider/slide-1.jpg');
          "
        >
          <div class="container">
            <div class="form-box">
              <div class="form-tab">
                <ul class="nav nav-pills nav-fill" role="tablist">
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      id="signin-tab-2"
                      
                      href="/login"
                      role="tab"
                      aria-controls="signin-2"
                      aria-selected="false"
                      >Sign In</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link active"
                      id="register-tab-2"
                      
                      href="/register"
                      role="tab"
                      aria-controls="register-2"
                      aria-selected="true"
                      >Register</a
                    >
                  </li>
                </ul>
                <div class="tab-content">
                  <div
                    class="tab-pane fade"
                    id="signin-2"
                    role="tabpanel"
                    aria-labelledby="signin-tab-2"
                  >
                    <form action="#" method="post">
                      <div class="form-group">
                        <label for="singin-email-2"
                          >Username or email address *</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="singin-email-2"
                          name="singin-email"
                          required
                        />
                      </div>

                      <div class="form-group">
                        <label for="singin-password-2">Password *</label>
                        <input
                          type="password"
                          class="form-control"
                          id="singin-password-2"
                          name="singin-password"
                          required
                        />
                      </div>

                      <div class="form-footer">
                        <button type="submit" class="btn btn-outline-primary-2">
                          <span>LOG IN</span>
                          <i class="icon-long-arrow-right"></i>
                        </button>

                        <div class="custom-control custom-checkbox">
                          <input
                            type="checkbox"
                            class="custom-control-input"
                            id="signin-remember-2"
                          />
                          <label
                            class="custom-control-label"
                            for="signin-remember-2"
                            >Remember Me</label
                          >
                        </div>

                        <a href="#" class="forgot-link"
                          >Forgot Your Password?</a
                        >
                      </div>
                    </form>
                  </div>
                  <div
                    class="tab-pane fade show active"
                    id="register-2"
                    role="tabpanel"
                    aria-labelledby="register-tab-2"
                  >
                    <form action="/register" method="post">
                      <% if(typeof message !== 'undefined'){ %>
                      <p style="color: green; text-align: center">
                        <%= message %><a href="/login">Click here</a> to Login
                      </p>                      
                      <% } %>  
                      
                      <% if(typeof errmessage !== 'undefined'){ %>
                        <p style="color:red; text-align: center">
                          <%= errmessage %>
                        </p>                      
                        <% } %> 
                      <div class="form-group">
                        <label for="register-name-2">Name *</label>
                        <input
                          type="text"
                          class="form-control"
                          id="name"
                          name="name"
                        />
                      </div>
                      <span id="name-error" style="color: red"></span>
                      <div class="form-group">
                        <label for="register-email-2">Email Id *</label>
                        <input
                          type="email"
                          class="form-control"
                          id="email"
                          name="email"
                        
                        />
                      </div>
                      <span id="email-error" style="color: red"></span>

                      <div class="form-group">
                        <label for="register-mobile-2">Mobile *</label>
                        <input
                          type="text"
                          class="form-control"
                          id="mobile"
                          name="mobile"
                        />
                      </div>
                      <span id="mobile-error" style="color: red"></span>
                      <div class="form-group">
                        <label for="register-password-2">Password *</label>
                        <input
                          type="password"
                          class="form-control"
                          id="password"
                          name="password"
                        />
                      </div>
                      <span id="password-error" style="color: red"></span>

                      <div class="form-footer">
                        <button
                          type="submit"
                          class="btn btn-outline-primary-2"
                          id="registerButton"
                        >
                          <span>SIGN UP</span>
                          <i class="icon-long-arrow-right"></i>
                        </button>
                      </div>
                    </form>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>

      <footer class="footer">
        <div class="footer-middle">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-lg-3">
                <div class="widget widget-about">
                  <a href="/" class="logo" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;font-size: 30px;color: rgb(255, 255, 255);margin: 0;padding: 0;">Spy.steps

                  <p>
                    Praesent dapibus, neque id cursus ucibus, tortor neque
                    egestas augue, eu vulputate magna eros eu erat.
                  </p>

                  <div class="social-icons">
                    <a
                      href="#"
                      class="social-icon"
                      target="_blank"
                      title="Facebook"
                      ><i class="icon-facebook-f"></i
                    ></a>
                    <a
                      href="#"
                      class="social-icon"
                      target="_blank"
                      title="Twitter"
                      ><i class="icon-twitter"></i
                    ></a>
                    <a
                      href="#"
                      class="social-icon"
                      target="_blank"
                      title="Instagram"
                      ><i class="icon-instagram"></i
                    ></a>
                    <a
                      href="#"
                      class="social-icon"
                      target="_blank"
                      title="Youtube"
                      ><i class="icon-youtube"></i
                    ></a>
                    <a
                      href="#"
                      class="social-icon"
                      target="_blank"
                      title="Pinterest"
                      ><i class="icon-pinterest"></i
                    ></a>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-lg-3">
                <div class="widget">
                  <h4 class="widget-title">Useful Links</h4>

                  <ul class="widget-list">
                    <li><a href="/about">About Spy.steps</a></li>
                    <li><a href="#">How to shop on Spy.steps</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="/contact">Contact us</a></li>
                    <li><a href="/login">Log in</a></li>
                  </ul>
                </div>
              </div>

              <div class="col-sm-6 col-lg-3">
                <div class="widget">
                  <h4 class="widget-title">Customer Service</h4>

                  <ul class="widget-list">
                    <li><a href="#">Payment Methods</a></li>
                    <li><a href="#">Money-back guarantee!</a></li>
                    <li><a href="#">Returns</a></li>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="#">Terms and conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                  </ul>
                </div>
              </div>

              <div class="col-sm-6 col-lg-3">
                <div class="widget">
                  <h4 class="widget-title">My Account</h4>

                  <ul class="widget-list">
                    <li><a href="#">Sign In</a></li>
                    <li><a href="/cart">View Cart</a></li>
                    <li><a href="#">My Wishlist</a></li>
                    <li><a href="#">Track My Order</a></li>
                    <li><a href="#">Help</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="footer-bottom">
          <div class="container">
            <p class="footer-copyright">
              Copyright © <script>document.write(new Date().getFullYear());</script> Spy.steps. All Rights Reserved.
            </p>
            <figure class="footer-payments">
              <img
                src="assets/images/payments.png"
                alt="Payment methods"
                width="272"
                height="20"
              />
            </figure>
          </div>
        </div>
      </footer>
    </div>
    <button id="scroll-top" style="border-radius: 50%;background-color: rgba(255, 255, 255, 0.294);" title="Back to Top">
      <i class="icon-arrow-up"></i>
    </button>

    <div class="mobile-menu-overlay"></div>

    <div class="mobile-menu-container">
      <div class="mobile-menu-wrapper">
        <span class="mobile-menu-close"><i class="icon-close"></i></span>

        <form action="#" method="get" class="mobile-search">
          <label for="mobile-search" class="sr-only">Search</label>
          <input
            type="search"
            class="form-control"
            name="mobile-search"
            id="mobile-search"
            placeholder="Search in..."
            required
          />
          <button class="btn btn-primary" type="submit">
            <i class="icon-search"></i>
          </button>
        </form>

        <nav class="mobile-nav">
          <ul class="mobile-menu">
            <li class="active">
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/about">About Us</a>
            </li>
            <li>
              <a href="/contact">Contact Us</a>
            </li>
          </ul>
        </nav>

        <div class="social-icons">
          <a href="#" class="social-icon" target="_blank" title="Facebook"
            ><i class="icon-facebook-f"></i
          ></a>
          <a href="#" class="social-icon" target="_blank" title="Twitter"
            ><i class="icon-twitter"></i
          ></a>
          <a href="#" class="social-icon" target="_blank" title="Instagram"
            ><i class="icon-instagram"></i
          ></a>
          <a href="#" class="social-icon" target="_blank" title="Youtube"
            ><i class="icon-youtube"></i
          ></a>
        </div>
      </div>
    </div>

    <script>
      const name = document.getElementById("name");
      const email = document.getElementById("email");
      const mobile = document.getElementById("mobile");
      const password = document.getElementById("password");

      const nameError = document.getElementById("name-error");
      const emailError = document.getElementById("email-error");
      const mobileError = document.getElementById("mobile-error");
      const passwordError = document.getElementById("password-error");

      const namePattern = /^[A-Z][a-z]+(\s[A-Z][a-z]{0,25}){0,3}$/;
      const emailPattern = /^\w+([\.-]?\w+)@\w+([\.-]?\w+)(\.\w{2,3})+$/;
      const mobilePattern = /^\d{10}$/;
      const passwordPattern =
        /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,20}$/;

      const nameFunction = () => {
        if (!namePattern.test(name.value)) {
          nameError.textContent = "Invalid name";
          return false;
        } else {
          nameError.textContent = "";
          return true;
        }
      };
      const emailFunction = () => {
        if (!emailPattern.test(email.value)) {
          emailError.textContent = "Invalid email";
          return false;
        } else {
          emailError.textContent = "";
          return true;
        }
      };
      const mobileFunction = () => {
        if (!mobilePattern.test(mobile.value)) {
          mobileError.textContent = "Invalid phone number";
          return false;
        } else {
          mobileError.textContent = "";
          return true;
        }
      };
      const passwordFunction = () => {
        if (!passwordPattern.test(password.value)) {
          passwordError.textContent = "Must contain atleast a number, a symbol,a uppercase and minimum of 8 characters";
          return false;
        } else {
          passwordError.textContent = "";
          return true;
        }
      };
      name.addEventListener("input", nameFunction);
      email.addEventListener("input", emailFunction);
      mobile.addEventListener("input", mobileFunction);
      password.addEventListener("input", passwordFunction);

      let isFormValid = false;
      const formFunctions = [
        nameFunction,
        emailFunction,
        mobileFunction,
        passwordFunction,
      ];
      document
        .getElementById("registerButton")
        .addEventListener("click", (event) => {
          if (formFunctions.every((fn) => fn())) {
            isFormValid = true;
          }
          if (!isFormValid) {
            event.preventDefault();
            alert("Please fill all the details");
          } else {
            form.submit();
          }
        });
    </script>

<%-include('../layouts/footer')%>  